=shadow($top, $left, $blur, $inset, $color)
  box-shadow: $top $left $blur $inset $color
  -webkit-box-shadow: $top $left $blur $inset $color
  -moz-box-shadow: $top $left $blur $inset $color
  -o-box-shadow: $top $left $blur $inset $color
  -ms-box-shadow: $top $left $blur $inset $color

=font($font, $size, $weight, $color)
  font-family: $font
  font-size: $size
  font-weight: $weight
  color: $color
  
=border-radius($top, $right, $bottom, $left)
  border-radius: $top $right $bottom $left