/* Reset */

* {
  outline: none !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.form-control:focus {
  box-shadow: none;
}

/* Fonts */

/* Colors */

/* Padding */

/* Modules */

/* Geral Config */

.btn:focus {
  box-shadow: none;
}

button {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

/* Login */

.btn-login {
  width: 100%;
  background-color: #dc853d;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.9rem 0.3rem;
}

.btn-login:hover {
  box-shadow: 0 0.5rem 1.8rem 0 rgba(220, 133, 61, 0.4);
  -webkit-box-shadow: 0 0.5rem 1.8rem 0 rgba(220, 133, 61, 0.4);
  -moz-box-shadow: 0 0.5rem 1.8rem 0 rgba(220, 133, 61, 0.4);
  -o-box-shadow: 0 0.5rem 1.8rem 0 rgba(220, 133, 61, 0.4);
  -ms-box-shadow: 0 0.5rem 1.8rem 0 rgba(220, 133, 61, 0.4);
}

/* Navbar Menu */

.btn-menu {
  background-color: transparent;
  color: #ffffff;
  font-size: 1.5em;
  border-radius: 100%;
}

.btn-menu:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  color: #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn-menu:focus {
  box-shadow: none;
}

/* Dashboard Button*/

.btn-dash {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #ffffff !important;
  background-color: #dc853d;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 0.1rem;
}

.btn-dash:hover {
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(220, 133, 61, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(220, 133, 61, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(220, 133, 61, 0.4);
  -o-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(220, 133, 61, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(220, 133, 61, 0.4);
  color: #ffffff !important;
}

.btn-create {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #ffffff !important;
  background-color: #38c172;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 0.1rem;
}

.btn-create:hover {
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(56, 193, 114, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(56, 193, 114, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(56, 193, 114, 0.4);
  -o-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(56, 193, 114, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(56, 193, 114, 0.4);
  color: #ffffff !important;
}

.btn-view {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #ffffff !important;
  background-color: #3490dc;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 0.1rem;
}

.btn-view:hover {
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(52, 144, 220, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(52, 144, 220, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(52, 144, 220, 0.4);
  -o-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(52, 144, 220, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(52, 144, 220, 0.4);
  color: #ffffff !important;
}

.btn-edit {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #ffffff !important;
  background-color: #f6993f;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 0.1rem;
}

.btn-edit:hover {
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(246, 153, 63, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(246, 153, 63, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(246, 153, 63, 0.4);
  -o-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(246, 153, 63, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(246, 153, 63, 0.4);
  color: #ffffff !important;
}

.btn-del {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #ffffff !important;
  background-color: #e3342f;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 0.1rem;
}

.btn-del:hover {
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(227, 52, 47, 0.4);
  -webkit-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(227, 52, 47, 0.4);
  -moz-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(227, 52, 47, 0.4);
  -o-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(227, 52, 47, 0.4);
  -ms-box-shadow: 0.1rem 0.3rem 1rem 0 rgba(227, 52, 47, 0.4);
  color: #ffffff !important;
}

.btn-circle-2 {
  width: 46px;
  height: 46px;
  border: 0.06rem solid #dc853d;
  background-color: #ffffff !important;
  color: #dc853d !important;
  border-radius: 0;
  padding: 11px;
  font-size: 1em;
}

.btn-circle-2:hover {
  border: 0.06rem solid #dc853d;
  color: #ffffff !important;
  background-color: #dc853d !important;
}

.btn-circle-2:hover .fa {
  font-size: 1.7rem;
}

.card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 0;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  margin: 1.3rem 0;
}

.card .card-header {
  background-color: #ffffff;
  border-color: #c5c3c4;
}

.card .card-header .title {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #dc853d;
  padding: 0.3rem 0;
}

.card .card-body .title {
  padding: 0rem 0rem 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  color: #393738;
}

.card .card-body a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #dc853d;
  text-decoration: none;
}

.card .card-body a:hover {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #c36b23;
}

.card .card-body .form-control {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #393738;
  height: calc(2.25rem + 2px);
  border-color: #c5c3c4;
}

.card .card-body .form-control:focus {
  border-color: #c5c5c5;
}

.card .card-body .form-control::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .form-control:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .form-control::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .required label:before {
  content: "*";
  color: #dc853d;
}

.card .card-body .form-control-area {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #393738;
  height: 8rem;
  border-color: #c5c3c4;
}

.card .card-body .form-control-area:focus {
  border-color: #c5c5c5;
}

.card .card-body .form-control-area::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .form-control-area:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .form-control-area::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #878285;
}

.card .card-body .line-chart {
  padding: 0.5rem 0;
  border-bottom: 1px solid #c5c3c4;
  min-height: 54px;
}

.card .card-body .line-chart small {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #7a7678;
  line-height: 1.5em;
}

.card .card-body .line-chart p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #5a606e;
}

.card .card-body .line-chart a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #dc853d;
  text-decoration: none;
}

.card .card-body .line-chart a:hover {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #c36b23;
}

.card .card-body .line-chart-single {
  padding: 0.5rem 0;
}

.card .card-body .line-chart-single small {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #cacaca;
  line-height: 1.5em;
}

.icon-details {
  color: #dc853d;
  font-size: 2.2em;
}

.icon-details .card-footer {
  background-color: #ffffff;
  border-top: none !important;
}

.card-chart {
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 0;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
  margin: 3vh 0;
}

.card-chart:hover {
  box-shadow: 0px 14px 24px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 14px 24px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 14px 24px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 14px 24px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 14px 24px 1px rgba(0, 0, 0, 0.2);
  transition: 200ms ease-in;
}

.card-chart a {
  color: #393738;
  text-decoration: none;
}

.card-chart .icon i {
  color: #dc853d;
  font-size: 2em;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background: #dc853d !important;
}

.clickable:hover td {
  color: #ffffff !important;
}

.table thead {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #393738;
}

.table thead th:last-child {
  width: 25%;
}

.table thead th {
  border: none;
}

.table td {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #5a606e;
  vertical-align: middle;
}

.table td .receipt {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #3490dc;
}

.table td .expense {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #e3342f;
}

.table td a {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #5a606e;
  text-decoration: none;
  float: left;
}

.table td a:hover {
  color: #dc853d;
}

.table tfoot td {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #c36b23;
}

.thead-theme {
  background-color: #dc853d;
  color: #ffffff !important;
}

.thead-border {
  background-color: #ffffff;
  border-bottom: 3px solid #dee2e6;
}

#datatable_wrapper input {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #adadae;
  height: calc(2.25rem + 2px);
  border: 1px solid #ededed;
  padding: 0 1rem;
}

#datatable_wrapper select {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #393738;
  height: calc(2.25rem + 2px);
  border: 1px solid #ededed;
  padding: 0 1rem;
}

#datatable_paginate span a {
  background: #dc853d;
  border: 0;
  color: #ffffff !important;
}

#datatable_paginate span a.current {
  background: #c36b23;
}

/* Modules and Pages */

.bg-base {
  background: #dc853d;
  color: #ffffff;
}

.bg-gray {
  background: #f4f6f9;
}

.navbar {
  background-color: #dc853d;
  border-bottom: 0.06rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 0.612rem;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #ffffff;
  padding: 0 1.2rem;
}

.navbar-light .navbar-nav .nav-link:focus {
  border: 0;
  box-shadow: 0;
  background-color: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  color: #ffffff;
}

.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffff;
}

.navbar-light span {
  font-weight: 600;
}

.dropleft .dropdown-menu {
  top: 50px;
  right: 0;
  border: 0;
  box-shadow: 0 0.2rem 1rem rgba(220, 133, 61, 0.09);
  transition: 400ms all;
}

.dropleft .dropdown-divider {
  border-color: rgba(220, 133, 61, 0.09);
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.6rem 6rem;
  }
}

.breadcrumb {
  background: #c36b23;
  border-radius: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #5a606e;
}

.breadcrumb ol {
  margin: 0;
  padding: 0;
}

.breadcrumb-item:before {
  color: #ffffff !important;
}

.breadcrumb-item a {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #ecbb93;
}

.breadcrumb-item.active:before {
  color: #ffffff;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #393738;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #393738;
  color: #5a606e;
  box-shadow: 1px 20px 20px 1px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  position: fixed;
  height: 100vh;
  z-index: 9999;
}

#sidebar.active:hover {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active .sidebar-header .logo {
  display: none;
}

#sidebar.active .sidebar-header .small-logo {
  display: block;
  padding: 0.51rem 0;
}

#sidebar.active .sidebar-header .small-logo img {
  width: 40px;
}

#sidebar .sidebar-header {
  padding: 0.56rem;
  text-align: center;
  box-shadow: 0.6rem 0 5rem 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0.6rem 0 5rem 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0.6rem 0 5rem 0 rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0.6rem 0 5rem 0 rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0.6rem 0 5rem 0 rgba(0, 0, 0, 0.08);
}

#sidebar .sidebar-header .logo img {
  width: 180px;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active:hover span {
  opacity: 1;
}

#sidebar.active ul li {
  white-space: nowrap;
}

#sidebar.active ul li a {
  padding: 1rem 1.85rem;
  text-align: left;
  font-size: 1em;
}

#sidebar.active ul li a span {
  opacity: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #5a606e;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 20px;
  right: 10%;
  transform: translateX(50%);
}

#sidebar .sidebar-header .small-logo {
  display: none;
}

#sidebar ul {
  margin: 0;
  margin-border-left: 5px solid red;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  padding: 1rem 0.5rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #ffffff;
  background-color: rgba(57, 55, 56, 0.03);
  text-decoration: none;
}

#sidebar ul li a i {
  margin-right: 1rem !important;
  text-align: center;
  width: 18px;
  height: 18px;
}

#sidebar ul li a span {
  white-space: nowrap;
}

#sidebar ul li.active > a {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background-color: rgba(0, 0, 0, 0.1);
}

.alert-dashboard {
  margin: 0 !important;
  background: #c36b23 !important;
  border: 2px solid #ecbb93;
  border-radius: 0 !important;
}

.alert-dashboard h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 5px;
}

.alert-success {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: #38c172;
}

/* ---------------------------------------------------
 * *    CONTENT STYLE
 * *----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: #ffffff;
}

/* ---------------------------------------------------
 * *    MEDIAQUERIES
 * *----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li {
    white-space: nowrap;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
    opacity: 0;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: inline-block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }
}

body {
  background-color: #393738;
}

.m-100 {
  margin-top: 30vh;
}

.box-login {
  background-color: #ffffff;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.08);
  padding: 1.25rem;
  height: auto;
}

.box-login .logo {
  text-align: center;
}

.box-login .logo img {
  width: 310px;
}

.box-login .form-control {
  border-radius: 0;
}

.box-login .form-control::-moz-placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #878285;
  letter-spacing: 0.02em;
}

.box-login .form-control:-ms-input-placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #878285;
  letter-spacing: 0.02em;
}

.box-login .form-control::placeholder {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #878285;
  letter-spacing: 0.02em;
}

.box-login .form-control:focus {
  box-shadow: none;
  border-color: #393738;
}

.box-login .input-group-text {
  background-color: rgba(57, 55, 56, 0.01);
  border-radius: 0;
}

.box-login .form-check-label {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #393738;
}

.box-login .form-check-input {
  margin-top: 0.16rem;
}

.box-login a {
  font-size: 0.8em;
  float: right;
  color: #4680ff;
  margin-top: 2px;
}

.box-login .help-block {
  background-color: #dc853d;
}

.treeview {
  margin: 0 0 1rem;
}

ul {
  list-style: none;
}

.treeview li {
  padding: 2px 0 2px 16px;
}

.treeview li.last {
  background-position: 0 -1766px;
}

.treeview li > input {
  height: 16px;
  width: 16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
}

.treeview li > label {
  background: url(https://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
  display: inline;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #5a606e;
  margin-left: -20px;
  padding-left: 30px;
}

.treeview .custom-unchecked {
  background-position: 0 -1px;
}

.treeview .custom-unchecked:hover {
  background-position: 0 -21px;
}

.treeview .custom-checked {
  background-position: 0 -81px;
}

.treeview .custom-checked:hover {
  background-position: 0 -101px;
}

.treeview .custom-indeterminate {
  background-position: 0 -141px;
}

.treeview .custom-indeterminate:hover {
  background-position: 0 -121px;
}

footer {
  background-color: #373435;
  padding: 15px;
  border-top: 1px solid #e8e8e8;
  position: relative;
}

footer p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin: 0;
}

footer #backTop {
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 30px;
  height: 30px;
}

footer #backTop #btop {
  width: 40px;
  height: 33px;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.equip-card {
  padding: 1em;
}

.equip-card h5 {
  color: #393738;
  font-size: 1em;
}

.equip-card a {
  text-decoration: none !important;
}

.equip-card .count {
  font-size: 1.3em;
  padding: 0.3em;
  color: #dc853d;
}

.equip-card:hover {
  background: #dc853d;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
}

.equip-card:hover h5 {
  color: #ffffff !important;
}

.equip-card:hover .count {
  color: #ffffff !important;
}

.page-break {
  page-break-before: always;
}

.paper {
  padding: 0 15px;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
}

.paper[size=A4] {
  width: 27cm;
  height: 39cm;
}

