/* Geral Config */
  
.btn 
  &:focus
    box-shadow: none

button
  opacity: 1!important
  filter: alpha(opacity=100)!important
  
/* Login */
  
.btn-login
  width: 100%
  background-color: $base-color
  +font($font-stack, $base-size, $normal-w, $white-color)
  text-transform: uppercase
  padding: .9rem .3rem
  &:hover
    +shadow(0, .5rem, 1.8rem, 0, rgba($base-color, .4))

/* Navbar Menu */  

.btn-menu
  background-color: transparent
  color: $white-color
  font-size: 1.5em
  border-radius: 100%
  
  &:hover
    background-color: rgba($white-color, .05)
    border-radius: 100%
    color: $white-color
    transition: all .3s
    -webkit-transition: all .3s
    -moz-transition: all .3s
    -o-transition: all .3s
    
  &:focus
    box-shadow: none

/* Dashboard Button*/

.btn-dash
  +font($font-stack, $small-size, $light-w, $white-color!important)
  background-color: $base-color
  border-radius: .25rem
  padding: .5rem 1.5rem
  margin: 0.1rem
  &:hover
    +shadow(.1rem, .3rem, 1rem, 0, rgba($base-color, .4))
    color: $white-color!important

.btn-create
  +font($font-stack, $small-size, $light-w, $white-color!important)
  background-color: $green-color
  border-radius: .25rem
  padding: .5rem 1.5rem
  margin: 0.1rem
  &:hover
    +shadow(.1rem, .3rem, 1rem, 0, rgba($green-color, .4))
    color: $white-color!important

.btn-view
  +font($font-stack, $small-size, $light-w, $white-color!important)
  background-color: $blue-color
  border-radius: .25rem
  padding: .5rem 1.5rem
  margin: 0.1rem
  &:hover
    +shadow(.1rem, .3rem, 1rem, 0, rgba($blue-color, .4))
    color: $white-color!important

.btn-edit
  +font($font-stack, $small-size, $light-w, $white-color!important)
  background-color: $orange-color
  border-radius: .25rem
  padding: .5rem 1.5rem
  margin: 0.1rem
  &:hover
    +shadow(.1rem, .3rem, 1rem, 0, rgba($orange-color, .4))
    color: $white-color!important

.btn-del
  +font($font-stack, $small-size, $light-w, $white-color!important)
  background-color: $red-color
  border-radius: .25rem
  padding: .5rem 1.5rem
  margin: 0.1rem
  &:hover
    +shadow(.1rem, .3rem, 1rem, 0, rgba($red-color, .4))
    color: $white-color!important
    
.btn-circle-2
  width: 46px
  height: 46px
  border: .06rem solid $base-color
  background-color: $white-color !important
  color: $base-color !important
  border-radius: 0
  padding: 11px
  font-size: 1em
  
  &:hover
    border: .06rem solid $base-color
    color: $white-color !important
    background-color: $base-color !important
    
    .fa
      font-size: 1.7rem
