.card
  background-color: $white-color
  border-radius: .25rem
  border: 0
  +shadow(1px, 1px, 20px, 1px, rgba($black-color, .1))
  margin: 1.3rem 0
  
  .card-header
    background-color: $white-color
    border-color: $brand-gray-55
    
    .title
      +font($font-stack, 1.4em, $bold-w, $base-color)
      padding: .3rem 0
  
  .card-body
    .title
      padding: 0rem 0rem .75rem
      +font($font-stack, 1.3em, $light-w, $brand-gray-color)
    a
      +font($font-stack, $base-size, $normal-w, $base-color)
      text-decoration: none
      &:hover
        +font($font-stack, $base-size, $normal-w, $base-color-dark)
    .form-control
      +font($font-stack, $small-size, $light-w, $brand-gray-color)
      height: calc(2.25rem + 2px)
      border-color: $brand-gray-55
      &:focus
        border-color: #c5c5c5
      &::placeholder
        +font($font-stack, $base-size, $light-w, $brand-gray-30)
    .required
      label
        &:before
         content: "*"
         color: $base-color
    .form-control-area
      +font($font-stack, $small-size, $light-w, $brand-gray-color)
      height: 8rem
      border-color: $brand-gray-55
      &:focus
        border-color: #c5c5c5
      &::placeholder
        +font($font-stack, $base-size, $light-w, $brand-gray-30)
    .line-chart
      padding: .5rem 0
      border-bottom: 1px solid $brand-gray-55
      min-height: 54px
      small
        +font($font-stack, .9em, $light-w, $brand-gray-25)
        line-height: 1.5em
      p
        +font($font-stack, $base-size, $normal-w, $text-color)
      a
        +font($font-stack, $base-size, $normal-w, $base-color)
        text-decoration: none
        &:hover
          +font($font-stack, $base-size, $bold-w, $base-color-dark)
          
    .line-chart-single
      padding: .5rem 0
      small
        +font($font-stack, .9em, $light-w, #cacaca)
        line-height: 1.5em   
.icon-details
  color:$base-color
  font-size:2.2em

  .card-footer
    background-color: $white-color
    border-top: none!important

.card-chart
  background-color: $white-color
  border-radius: .25rem
  border: 0
  +shadow(0px, 1px, 15px, 1px, rgba($black-color, .1))
  margin: 3vh 0
  &:hover
    +shadow(0px, 14px, 24px, 1px, rgba($black-color, .2))
    transition: 200ms ease-in
  
  
  a 
    color: $brand-gray-color
    text-decoration: none

  .icon
    i
      color:$base-color
      font-size:2em
