.clickable
	cursor: pointer
	&:hover
		background: $base-color !important
		td
			color: $white-color !important
			
.table
	thead
		+font($base-font, $base-size, $normal-w, $brand-gray-color)
		th
			&:last-child
				width:25%
	
		th
			border: none
			
	td
		+font($base-font, .9rem, $light-w, $text-color)
		vertical-align: middle

		.receipt
			+font($base-font, .9rem, $normal-w, $blue-color)

		.expense
			+font($base-font, .9rem, $normal-w, $red-color)

		
		a
			+font($base-font, .9rem, $light-w, $text-color)
			text-decoration: none
			float: left
			&:hover
				color: $base-color
	tfoot
		td
			+font($base-font, 1.2em, $bold-w, $base-color-dark)
				
.thead-theme
	background-color: $base-color
	color: $white-color!important
	
.thead-border 
	background-color: $white-color
	border-bottom: 3px solid #dee2e6

#datatable_wrapper
	input
		font-family: "Roboto", sans-serif
		font-size: 0.8em
		font-weight: 300
		color: #adadae
		height: calc(2.25rem + 2px)
		border:1px solid #ededed
		padding:  0 $base-padding
	select
		font-family: "Roboto", sans-serif
		font-size: 0.8em
		font-weight: 300
		color: $brand-gray-color
		height: calc(2.25rem + 2px)
		border:1px solid #ededed
		padding:  0 $base-padding

#datatable_paginate
	span
		a
			background: $base-color
			border: 0
			color: $white-color !important
			&.current
				background: $base-color-dark