.breadcrumb
	background: $base-color-dark
	border-radius: 0
	+font($base-font, .9em, $light-w, $text-color)
		
	ol
		margin: 0
		padding: 0

.breadcrumb-item
	&:before
			color:$white-color !important
	a 
		color: $white-color
		text-decoration: none
	&.active
		color: $base-color-light
		&:before
			color:$white-color