.equip-card
  padding: 1em
  h5
    color:$brand-gray-color
    font-size: 1em
  a
    text-decoration: none !important
  .count
      font-size: 1.3em
      padding: .3em
      color:$base-color
  &:hover
    background: $base-color
    transition: all 0.6s
    -webkit-transition: all 0.6s
    -moz-transition: all 0.6s
    -o-transition: all 0.6s
    h5
      color: $white-color !important
    .count
      color:$white-color !important

