body
  +font($base-font, $base-size, $normal-w, $brand-gray-color)
  
.wrapper
  display: flex
  align-items: stretch

#sidebar
  min-width: 250px
  max-width: 250px
  background-color: $brand-gray-color
  color: $text-color
  box-shadow: 1px 20px 20px 1px rgba($black-color, 0.08)
  position: relative
  transition: all 0.3s
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -o-transition: all 0.3s
  
  &.active
    min-width: 80px
    max-width: 80px
    position: fixed
    height: 100vh
    z-index: 9999
    &:hover
      min-width: 250px
      max-width: 250px
    
    .sidebar-header .logo
      display: none
      
    .sidebar-header .small-logo
      display: block
      padding: .51rem 0
      
      img
        width: 40px
  
  .sidebar-header
    padding: .56rem
    text-align: center
    +shadow(.6rem, 0, 5rem, 0, rgba($black-color, 0.08))
      
    .logo
      img
        width: 180px
  
  ul 
    li 
      a
        text-align: left
        
  &.active
            
    &:hover span
      opacity: 1
    
    ul
      li
        white-space: nowrap
        
        a
          padding: 1rem 1.85rem
          text-align: left
          font-size: $base-size
          
          span
            opacity: 0
            +font($base-font, .9em, 300, $text-color)
        
      ul 
        a
          padding: 10px !important
        
    .dropdown-toggle::after
      top: auto
      bottom: 20px
      right: 10%
      -webkit-transform: translateX(50%)
      -ms-transform: translateX(50%)
      transform: translateX(50%)
      
  .sidebar-header 
    .small-logo
      display: none
      
  ul
    margin: 0
      border-left: 5px solid red
    &.components
      padding: 20px 0
      
    li
      a
        +font($base-font, .9em, 300, rgba($white-color, .7))
        padding: 1rem .5rem
        display: block
        &:hover
          color: $white-color
          background-color: rgba($brand-gray-color, .03)
          text-decoration: none
          
        i
          margin-right: 1rem!important
          text-align: center
          width: 18px
          height: 18px
          
        span
          white-space: nowrap
          
      &.active > a
        color: $white-color
        background-color: rgba($black-color, .1)

a
  &[data-toggle="collapse"]
    position: relative

.dropdown-toggle::after
  display: block
  position: absolute
  top: 50%
  right: 20px
  transform: translateY(-50%)

ul
  ul 
    a
      font-size: 0.9em !important
      padding-left: 30px !important
      background-color: rgba($black-color, .1)


.alert-dashboard
  margin: 0 !important
  background: $base-color-dark !important
  border: 2px solid $base-color-light
  border-radius: 0 !important
  h2
    +font($base-font,1.2em,$bold-w,$white-color)
    padding-bottom: 5px

.alert-success
  margin: 0 !important
  border: 0 !important
  border-radius: 0 !important
  background: $green-color

/* ---------------------------------------------------
 *    CONTENT STYLE
 *-----------------------------------------------------

#content
  width: 100%
  min-height: 100vh
  transition: all 0.3s
  background-color: $white-color
  
/* ---------------------------------------------------
 *    MEDIAQUERIES
 *-----------------------------------------------------

@media (max-width: 768px)
  #sidebar
    min-width: 80px
    max-width: 80px
    text-align: center
    margin-left: -80px !important
  .dropdown-toggle::after
    top: auto
    bottom: 10px
    right: 50%
    -webkit-transform: translateX(50%)
    -ms-transform: translateX(50%)
    transform: translateX(50%)
  #sidebar
    &.active
      margin-left: 0 !important
    .sidebar-header h3, .CTAs
      display: none
    .sidebar-header strong
      display: block
      
    ul
      li
        white-space: nowrap 
        
        a
          padding: 20px 10px
          
          span
            font-size: 0.85em
            opacity: 0
            
          i
            margin-right: 0
            display: inline-block
            
      ul 
        a
          padding: 10px !important
  
  
  
  
  
// .wrapper
//   display: flex
//   width: 100%
//   align-items: stretch

// /* TOP HEADER

// .bg-dark
//   background-color: $color-gray-darken
//   +shadow(.6rem, 0, 1rem, 0, rgba($black-color, 0.08))

// .navbar
//   padding: 0

// .navbar-brand
//   background-color: $white-color
//   min-width: 250px
//   max-width: 250px
//   margin: 0
//   text-align: center
//   padding: 8px 0
//   margin-left: -15px
//   img
//     width: 180px

// .navbar-light 
//   .navbar-nav
//     .nav-link
//       padding: 20px
//       color: $black-color
//       &:hover
//         color: $white-color
//         background-color: rgba($black-color, 0.01)
//       &:focus
//         color: $white-color !important
//     .show > .nav-link
//       color: $white-color !important
    
// .navbar-collapse
//   padding: 0

// .btn
//   &.focus, &:focus
//     box-shadow: none !important

// .btn-toggle
//   background-color: transparent
//   color: $white-color
//   font-size: 25px
//   &:hover
//     color: $base-color

// /* NOTICICATION

// .fa-layers-counter
//   font-size: 45px
//   background-color: #DC3545
//   box-shadow: 0 0 0 rgba(220, 53, 69, 1)
//   animation: pulse 2s infinite
//   -webkit-animation: pulse 2s infinite
//   top: 15px
//   right: 10px
//   &:hover
//     animation: none

// @keyframes pulse
//   0%
//     box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)
//     -moz-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)
//     -o-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)

//   70%
//     box-shadow: 0 0 0 10px rgba(220, 53, 69, 0.4)
//     -moz-box-shadow: 0 0 0 20px rgba(220, 53, 69, 0.4)
//     -o-box-shadow: 0 0 0 20px rgba(220, 53, 69, 0.4)

//   100%
//     box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)
//     -moz-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)
//     -o-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)


// @-webkit-keyframes pulse
//   0%
//     -webkit-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)

//   70%
//     -webkit-box-shadow: 0 0 0 10px rgba(220, 53, 69, 0.4)

//   100%
//     -webkit-box-shadow: 0 0 0 rgba(220, 53, 69, 0.4)


// /* SIDEBAR-HEADER

// #sidebar
//   min-width: 250px
//   max-width: 250px
//   min-height: 100vh
//   background-color: $white-color
//   box-shadow: 1px 20px 20px 1px rgba(0, 0, 0, 0.08)
//   position: relative
//   transition: .4s all ease-in-out
//   -webkit-transition: .4s all ease-in-out
//   -moz-transition: .4s all ease-in-out
//   -o-transition: .4s all ease-in-out
  
//   .header
//     .logo
//       padding: 1rem
//       text-align: center
//     .logo-min
//       display: none
      
  
//   .components
//     padding: 30px 0
//     margin: 0

//     .title
//       +font($font-stack, .8em, 400, $black-color)
//       cursor: default
//       text-transform: uppercase
//       &:hover
//         background-color: $white-color

//     li
//       padding: 15px
//       list-style: none
//       overflow: hidden
//       white-space: nowrap

//       &:hover
//         background-color: rgba($black-color, .1)

//       a
//         color: $text-color
//         text-decoration: none

//         .icon
//           display: inline-block
//           width: 30px
//           text-align: center

//   &.active
//     min-width: 60px
//     width: 60px
//     transition: .4s all ease-in-out
//     -webkit-transition: .4s all ease-in-out
//     -moz-transition: .4s all ease-in-out
//     -o-transition: .4s all ease-in-out

//     &:hover
//       width: 250px
//       min-width: 250px
      
//     .logo
//       display: none
    
//     .logo-min
//       display: block
//       padding: .5rem
//       text-align: center

//   // &.active &:hover .components li, 
//   //   &:hover 
//   //     .components li
//   //       overflow: hidden
//   //       white-space: nowrap

//   span
//     margin-left: 10px
//     transition: .4s all ease-in-out
//     -webkit-transition: .4s all ease-in-out
//     -moz-transition: .4s all ease-in-out
//     -o-transition: .4s all ease-in-out

//   &.active
//     span
//       color: #6c757d !important
//       opacity: 0
//       transition: .4s all ease-in-out
//       -webkit-transition: .4s all ease-in-out
//       -moz-transition: .4s all ease-in-out
//       -o-transition: .4s all ease-in-out
//     &:hover span
//       color: #6c757d !important
//       opacity: 1
//       transition: .4s all ease-in-out
//       -webkit-transition: .4s all ease-in-out
//       -moz-transition: .4s all ease-in-out
//       -o-transition: .4s all ease-in-out
//       &:hover
//         color: $base-color !important



// /* SIDEBAR LINK MENU

// /* SIDEBAR ACTIVE

// /*a[data-toggle="collapse"] {
//  *    position: relative;
//  *}

// /*a[aria-expanded="false"]::before,
//  *a[aria-expanded="true"]::before {
//  *    content: '\e259';
//  *    display: block;
//  *    position: absolute;
//  *    right: 20px;
//  *    font-family: 'Glyphicons Halflings';
//  *    font-size: 0.6em;
//  *}

// /*a[aria-expanded="true"]::before {
//  *    content: '\e260';
//  *}

// /* TOP HEADER

// #top-header
//   background-color: #2c568c
//   width: 100%
//   height: 10vh

// @media (max-width: 768px)
//   #sidebar
//     margin-left: -250px
//     &.active
//       margin-left: 0