footer 
	background-color: #373435
	padding: 15px
	border-top: 1px solid #e8e8e8
	position: relative
	p 
		color: #fff
		font-size: 13px
		text-align: center
		margin: 0
	#backTop
		position: fixed
		right: 30px
		bottom: 20px
		width: 30px
		height: 30px
		#btop
			width: 40px
			height: 33px
			padding: 0.7rem 1rem
			line-height: 1	