.treeview
  margin: 0 0 1rem

ul
  list-style: none

.treeview
  li
    //background: url(http://jquery.bassistance.de/treeview/images/treeview-default-line.gif) 0 0 no-repeat
    padding: 2px 0 2px 16px
    &.last
      background-position: 0 -1766px
    >
      input
        height: 16px
        width: 16px
        opacity: 0
        filter: alpha(opacity = 0)
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"
          
      label
        background: url(https://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat
        display: inline
        +font($base-font, .8em, 400, $text-color)
        margin-left: -20px
        padding-left: 30px
        
  > li:first-child > label
    //style for the root element - IE8 supports :first-child
     *but not :last-child .....
  .custom-unchecked
    background-position: 0 -1px
    &:hover
      background-position: 0 -21px
  .custom-checked
    background-position: 0 -81px
    &:hover
      background-position: 0 -101px
  .custom-indeterminate
    background-position: 0 -141px
    &:hover
      background-position: 0 -121px
