body 
  background-color: $brand-gray-color
  
.m-100
  margin-top: 30vh
  
.box-login
  background-color: $white-color
  +shadow(0, 0, 3rem, 0, rgba($black-color, 0.08))
  padding: $login-padding
  height: auto
  
  .logo
    text-align: center
    img
      width: 310px
      
  .form-control
    border-radius: 0
    &::placeholder
      +font($base-font, $small-size, $light-w, $brand-gray-30)
      letter-spacing: .02em
    &:focus
      box-shadow: none
      border-color: $brand-gray-color
    
  .input-group-text
    background-color: rgba($brand-gray-color, .01)
    border-radius: 0
    
  .form-check-label
    +font($font-stack, $small-size, $light-w, $brand-gray-color)
  
  .form-check-input 
    margin-top: 0.16rem
    
  a
    font-size: $small-size
    float: right
    color: $link-color
    margin-top: 2px
  
  .help-block
    background-color: $base-color
  