.navbar
  background-color: $base-color
  border-bottom: .06rem solid rgba($black-color, 0.1)
  border-radius: 0
  padding: .612rem

.navbar-light 
  .navbar-nav 
    .nav-link
      +font($header-font, $small-size, $normal-w, $white-color)
      padding: 0 1.2rem
      &:focus
        border: 0
        box-shadow: 0
        background-color: none
      &:hover, &:active
        color: $white-color
        
    .show > .nav-link
      color: $white-color
      
  span
    font-weight: $bold-w

.dropleft 
  .dropdown-menu
    top: 50px
    right: 0
    border: 0
    box-shadow: 0 .2rem 1rem rgba($base-color, .09)
    transition: 400ms all
    
  .dropdown-divider
    border-color: rgba($base-color, .09)
    
@media (max-width: 768px)
  .navbar
    padding: .6rem 6rem